.terminal-message-user {
  color: #00ff00;
  font-family: monospace;
}

.terminal-message-terminal {
  color: #cccccc;
  font-family: monospace;
}

.terminal-message-system {
  color: #9e9e9e;
  font-family: monospace;
}

.terminal-message-menu {
  color: #ffffff;
  font-family: monospace;
}

.terminal-message-shop {
  color: #fcba03;
  font-family: monospace;
}

.terminal-messages-container {
  background: black;
  padding: 10px;
  overflow-y: auto;
}

.terminal-line {
  margin-bottom: 6px;
  white-space: pre;
}
